/*font-family: 'Poppins', sans-serif;*/

.hero{
    font-family: Poppins;
    background-color: #F8F9FA;
}
body h1{
    font-size: 50px;
}
body h4{
    font-size: 40px;
}
/*transection-area
.b-content{
    border-radius: 10px;
}*/
#transectionSection{
    display: none;
}
.deposit{
    background-color: #5445BB;
}
.withdraw{
    background-color: #E0865F;
}
.balance{
    background-color: #fca910;
}